@import "/home/kris/.cache/wal/colors-waybar.css";


@define-color charging #07fb05; 
@define-color plugged #acfcad; 
@define-color critical #ff0000;
@define-color warning #f3f809;
@define-color hover #94a6e3;  

* {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
}

#waybar {
	
	background: @background;
        font-family: JetBrainsMono;
	font-size: large;
	color: @foreground;
}

#workspaces button {
	padding-left: 10px;
	padding-right: 10px;
	color: @foreground;
}

#workspaces button.focused {
	background: @color1;
	color: @background;
}

#workspaces button:hover {
	background: @hover;
	color: @background;
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
}

#custom-cap-left, #custom-cap-right {
	color: @color1;
	font-size: 24px;
}

#idle_inhibitor {
	background: @color1;
	padding-left: 20px;
	padding-right: 10px;
        color: @background;
    }

#custom-offswitch {
	background: @color1;
	padding-right: 20px;
	padding-left: 10px;
}

#custom-weather,
#cpu, 
#temperature, 
#memory, 
#pulseaudio, 
#disk,
#battery, 
#clock, 
#network {
	background: @color1;
	padding-left: 10px;
	padding-right: 10px;
}

#disk.critical {
		color: @critical;
}

#temperature.critical {                                                           
		color: @critical;                                                    
}

#cpu.critical {                                                           
		color: @critical;                                                    
}

#memory.critical {                                                           
		color: @critical;                                                    
}

@keyframes blink1 {                                                                
	to {
		color: @plugged;
	}
}

#battery.plugged {
background-color: @background;
		animation-name: blink1;                                                          
		animation-duration: 0.5s;                                                       
		animation-timing-function: linear;                                              
		animation-iteration-count: infinite;                                            
		animation-direction: alternate;
}

@keyframes blink2 {
	to {
		background-color: @charging;
	}
}

#battery.charging {
		animation-name: blink2;                                                          
		animation-duration: 2.0s;                                                       
		animation-timing-function: ease-in-out;                                              
		animation-iteration-count: infinite;                                            
		animation-direction: alternate;
}

@keyframes blink3 {
	to {
		background-color: @warning;
	}
}

#battery.warning:not(.charging) {
  	animation-name: blink3;
  	animation-duration: 0.7s;
  	animation-timing-function: ease-in-out;
  	animation-iteration-count: infinite;
  	animation-direction: alternate;
}

@keyframes blink4 {
	to {
		background-color: @critical;
	}
}

#battery.critical:not(.charging) {
  	animation-name: blink4;
  	animation-duration: 0.8s;
  	animation-timing-function: ease-in-out;
  	animation-iteration-count: infinite;
  	animation-direction: alternate;
}
