@import "/home/kris/.cache/wal/colors-waybar.css";

/*
@define-color charging #07fb05; 
@define-color plugged #acfcad; 
@define-color critical #ff0000;
@define-color warning #f3f809;
@define-color hover #94a6e3;  
*/
@define-color charging @color0; 
@define-color plugged @color1; 
@define-color critical #ff0000;
@define-color warning #f3f809;
@define-color hover @color2;  


* {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
}

#waybar {
/*	background: transparent; */
	background: @background;
	/* font-family: Cascadia Code;*/
	font-family: "CaskaydiaCove Nerd Font";
	font-size: 12px;
	color: @foreground;
}

#workspaces {
	padding-right:10px;
}
#workspaces button {
	padding-left: 10px;
	padding-right: 10px;
	color: @background;
	color: @foreground;
}
#workspaces button.empty {
    color: @color4;
   /* font-weight:bold;*/
    
}
#workspaces button.active,
#workspaces button.focused {
	background: @color14;
	color: @background;
	font-weight:bold;
}

#workspaces button:hover {
	background: @hover;
	color: @foreground;
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
}

/* sway window title, ie. ALACRITTY  */
#window {
   background: @foreground;
   color: @background;
   padding-left:10px;
   padding-right:10px;
}


window#waybar {
	
}
#custom-cap-left, #custom-cap-right {
	color: @background;
	font-size: 24px;
}

#idle_inhibitor {
	background: @background;
	color: @foreground;
        font-size: 25px;
	padding-left: 20px;
	padding-right: 10px;
}

#custom-offswitch {
	background: @backround;
	padding-right: 20px;
	padding-left: 10px;
	color: @foreground;
}

#custom-weather,
#cpu, 
#temperature, 
#memory, 
#pulseaudio, 
#disk,
#battery, 
#clock, 
#network {
	background: @background;
	color: @foreground;
	padding-left: 2px;
	padding-right: 10px;
}

#disk.critical {
		color: @critical;
}

#temperature.critical {                                                           
		color: @critical;                                                    
}

#cpu.critical {                                                           
		color: @critical;                                                    
}

#memory.critical {                                                           
		color: @critical;                                                    
}

@keyframes blink1 {                                                                
	to {
		color: @plugged;
	}
}

#battery.plugged {
background-color: @background;
		animation-name: blink1;                                                          
		animation-duration: 0.5s;                                                       
		animation-timing-function: linear;                                              
		animation-iteration-count: infinite;                                            
		animation-direction: alternate;
}

@keyframes blink2 {
	to {
		background-color: @charging;
	}
}

#battery.charging {
		animation-name: blink2;                                                          
		animation-duration: 2.0s;                                                       
		animation-timing-function: ease-in-out;                                              
		animation-iteration-count: infinite;                                            
		animation-direction: alternate;
}

@keyframes blink3 {
	to {
		background-color: @warning;
	}
}

#battery.warning:not(.charging) {
  	animation-name: blink3;
  	animation-duration: 0.7s;
  	animation-timing-function: ease-in-out;
  	animation-iteration-count: infinite;
  	animation-direction: alternate;
}

@keyframes blink4 {
	to {
		background-color: @critical;
	}
}

#battery.critical:not(.charging) {
  	animation-name: blink4;
  	animation-duration: 0.8s;
  	animation-timing-function: ease-in-out;
  	animation-iteration-count: infinite;
  	animation-direction: alternate;
}
